<a href="#/">Retour à la liste des cinémas</a>

<div>
    <ng-map center="[{{marker.coords.latitude}}, {{marker.coords.longitude}}]">
        <marker position="[{{marker.coords.latitude}}, {{marker.coords.longitude}}]" title="{{marker.name}}"></marker>
    </ng-map>

    <div class="tableau">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="film in item">
                <td>{{film.titre}}</td>
                <td>{{film.description}}</td>
                <td><button ng-click="showHoraire(film)">Horaire</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>







