<div >

    <p>Recherche : <input type="text" data-ng-model="search" /></p>

    <div class="tableau">
        <table>
            <thead>
            <tr>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in items | filter:search">
                <td><a href="#/film/{{item.id}}">{{item.name}}</a></td>
            </tr>
            <ng-map></ng-map>
            </tbody>
        </table>
    </div>
    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
</div>